* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  --light-blue: #307ab7
  --burgundy: #d92e50
  --green: #67a244
  --red: #dc3e21
  --orange: #e3801b
  --aqua-green: #68a093
  --brown: #e06f54
  --dark-blue: #2c3882
}

body {
  background: #e06f54
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #2c3882;
  text-align: center;
  margin: 10px auto;
  border-radius: 5px;
  padding-bottom: 32px;
}

h1 {
  margin: 25px 0;
  color: #fff;
  font-size: 30px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #fff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #fff;
  color: #2c3882;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #e06f54;
}

.todo-button.edit {
  background: #e06f54;
  padding: 16px 22px;
}


.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: #e3801b;

  padding: 16px;
  border-radius: 5px;
  width: 90%;
  cursor: pointer;
}

.todo-row:nth-child(4n + 1) {
  background: #67a244
}

.todo-row:nth-child(4n + 2) {
  background: #d92e50
}

.todo-row:nth-child(4n + 3) {
  background: #68a093;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}